@model RedirectToGatewayViewModel
@{
    ViewData["Title"] = "در حال انتقال برای پرداخت";
}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center">
                    در حال انتقال برای پرداخت
                </h3>
                <br />
                <div class="alert alert-info text-center">
                    لطفاً منتظر بمانید
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var data = JSON.parse('@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))');
        var postRefId = function (data) {
            var form = document.createElement("form");
            form.setAttribute("method", "POST");
            form.setAttribute("action", data.GatewayUrl);
            form.setAttribute("target", "_self");

            if (data.PostData) {
                for (var fieldName in data.PostData) {
                    var field = document.createElement("input");
                    field.setAttribute("name", fieldName);
                    field.setAttribute("value", data.PostData[fieldName]);
                    form.appendChild(field);
                }
            }

            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        }
        postRefId(data);
    </script>
}