<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"]</title>
    <link href="~/_/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/_/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/_/css/all.min.css" rel="stylesheet" />
    <link href="~/_/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/_/css/common.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <header></header>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="text-muted">
        <div class="container-fluid text-center ltr">
            &copy; 2021 - AsanPardakht IPG Sample
            - <a href="https://github.com/mrdaghestani/AsanPardakht.IPG" target="_blank">Project Page</a>
            - <a href="https://www.nuget.org/packages?q=AsanPardakht.IPG" target="_blank">Nuget Packages</a>
        </div>
    </footer>
    <script src="~/_/js/jquery-1.12.4.min.js"></script>
    <script src="~/_/js/jquery.validate.min.js"></script>
    <script src="~/_/js/bootstrap.min.js"></script>
    <script src="~/_/js/common.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
